<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
const posts = _.cms('posts')
const apx_feriados = _.cms('apx_feriados') || {}
%>
<script>
  window.apx_feriados = JSON.parse(<%- JSON.stringify(JSON.stringify(apx_feriados)) %>); 
  
  
  window.formatDate = function (date) {
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear().toString(); // Obtém os últimos dois dígitos do ano
      day = day.toString().length < 2 ? `0${day}` : day;
      month = month.toString().length < 2 ? `0${month}` : month;
      return day + '/' + month + '/' + year;
  }

  // Função para verificar se uma data está na lista de feriados
  window.isHoliday = function(date) {
      const [dia, mes, ano] = date.split('/');
      
      //console.log(`aaaa`,date, dia, mes, ano, `${ano}-${mes}-${dia}`)
      const formattedDate = new Date(`${ano}-${mes}-${dia}T03:00:00.000Z`).toISOString();
      //console.log(formattedDate)
      //var formattedDate = formatDate(date);
      return window.apx_feriados.list.some( el => el.date === formattedDate);
  }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer class="footer py-3 py-lg-4 py-xl-5">
  <div class="container pb-3">
    <div class="row">
      <div class="col-md-4 col-12">
        <h2 class="footer__title footer__store">
          <%= footer.description.title || _.settings.name %>
        </h2>
        <p><%- footer.description.text %></p>
        <div class="mt-4 pt-3">
          <div class="footer__contacts">
            <ul class="list-unstyled">
              <% if (footer.contacts.phone_wpp) { %>
                <% if (contacts.whatsapp) { %>
                  <li>
                    <span class="footer__list-icon">
                      <i class="i-whatsapp"></i>
                    </span>
                    <a
                      href="javascript:;"
                      target="_blank"
                      rel="noopener"
                      class="whatsapp-link"
                      data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                    >
                      <b>WhatsApp</b>
                      <span>Dúvidas ou auxílio em seu pedido</span>
                      <%= contacts.whatsapp %>
                    </a>
                  </li>
                <% } %>
                <% if (contacts.phone) { %>
                  <li>
                    <span class="footer__list-icon">
                      <i class="i-phone"></i>
                    </span>
                    <a
                      href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                      target="_blank"
                      rel="noopener"
                    >
                      <%= contacts.phone %>
                    </a>
                  </li>
                <% } %>
              <% } %>
              <% if (footer.contacts.email) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="fa fa-clock"></i>
                  </span>
                  <p>
                    <b>Atendimento</b>
                    Segunda à Sexta, das 09 às 12h - 13h30 às 18h<br>
                    Sábado das 9h às 12h
                  </p>
                </li>
              <% } %>
              <% if (footer.contacts.email) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                    <b>E-mail</b>
                    <%= contacts.email %>
                  </a>
                </li>
              <% } %>
             
            </ul>
  
            
          </div>
        </div>
      </div>
      <div class="col-md-auto col-12 offset-md-1 mt-4 mt-md-0">
        <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
          <div class="">
            <a
              class="footer__title"
              href="#footer-pages"
              role="button"
              
            >
              <%= footer.links_1.title || _.dictionary('pages') %>
            </a>
            <div id="footer-pages">
              <% if (footer.links_1.list_pages) { %>
                <ul class="footer__links">
                  <% (_.cms('pages') || []).forEach(slug => { %>
                    <% const { title } = _.cms(`pages/${slug}`) %>
                    <li>
                      <a href="/pages/<%= slug %>">
                        - <%= title %>
                      </a>
                    </li>
                  <% }) %>
                </ul>
              <% } else { %>
                <ul class="footer__links">
                  <% footer.links_1.list.forEach(({ url, text }) => { %>
                    <li>
                      <a href="<%= url %>">
                        - <%= text %>
                      </a>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
            </div>
          </div>
        <% } %>
        <% if (footer.contacts.socials) { %>
          <div class="my-5">
            <h2 class="footer__title footer__social_title">
              Redes Sociais
            </h2>
            <p class="footer__social">            
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          </div>
          
        <% } %>
      </div>
      <div class="col offset-md-1">
        <h2 class="footer__title footer__store">
          Últimas do Blog
        </h2>
        <div class="row blog-footer">
        <%
          const postsList = []
          posts.forEach(slug => { 
            const post = (_.cms(`posts/${slug}`))
            post.slug = slug
            postsList.push(post)
          })
          postsList.sort((a, b) => {
            return b.date > a.date ? 1 : -1
          })
          postsList.slice(0,2).forEach(post => { 
            const { title, slug, thumbnail, description, date } = post 
            %>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <% if (thumbnail) { %>
                    <a href="/posts/<%= slug %>">
                      <img
                        src="<%= _.assetsPrefix || '' %><%= thumbnail %>"
                        class="card-img-top"
                        alt="<%= title %>"
                      >
                    </a>
                  <% } %>
                </div>
                <div class="col-8">
                  <h5 class="card-title">
                    <a href="/posts/<%= slug %>">
                      <%= title %>
                    </a>
                    <a href="/posts/<%= slug %>">
                      <p class="card-text">
                        <%= description %>
                      </p>
                    </a>
                  </h5>
                </div>
              </div>              
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg py-2 mt-5">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-auto d-flex align-items-center">
          <h4>Pague com</h4>
          <p class="footer__payment-methods">
            <% Object.keys(footer.payment_methods).forEach(method => { %>
              <% if (footer.payment_methods[method]) { %>
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <% } %>
            <% }) %>
          </p>
        </div>
        <div class="col-auto d-flex align-items-center">
          <h4>Segurança</h4>
          <div class="footer__stamps">
            <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div style="background: #fff;">
<div class="container">
  <div class="footer__credits">
    <div class="p-0 w-100">
      <div class="row align-items-center credits">
        <div class="col-12 col-md">
          <span>
            <small>
              <%- footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
            </small>
          </span>
        </div>
        <div class="col-md-auto col-12"><%- await include('@/layout/inc/ecom-credits') %></div>
      </div>
    </div>      
  </div>
</div>  
</div>