<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
const apx_header = _.cms('apx_header') || {}
// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
        categories.push(mainCategories[i])
      }
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
const hasMegamenu = header.desktop_megamenu
const isAlphabeticalOrderSubmenu = header.alphabetical_order_submenu
const fullWidthSubmenu = header.full_width_submenu
const isCentralizedLogo = header.centralized_logo
const hasAllDepartments = header.menu_all_departments
%>

<div id="overlay" class="fade"></div>

<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>

  
</div>

<header class="header" id="header">
  <div class="header__container container-fluid">
    <div class="header__row row<%= isCentralizedLogo ? ' header__row--centralized-logo' : '' %><%= isCentralizedLogo && isCategoriesNavFull ? ' header__row--full-width' : '' %>">
      <div class="col-auto d-flex p-md-0 pr-0 header__toggler-block d-md-none">
        <button
          class="btn header__toggler<%= hasMegamenu ? ' d-lg-none' : '' %>"
          type="button"
          id="theme_header-menu-trigger"
          onclick="toggleSidenav()"
          aria-label="Toggle side navigation"
        >
        </button>
      </div>

      <div class="col-auto col-lg-auto pl-0 pl-md-2 pl-lg-3 header__logo-block">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>

      <div class="order-lg-last col-md-auto col p-md-0 pl-0 header__buttons-block">
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          

          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <i class="svg-ico">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M337.711 241.3a15.977 15.977 0 0 0-11.461 3.988c-18.738 16.561-43.687 25.682-70.25 25.682s-51.512-9.121-70.25-25.683a16.02 16.02 0 0 0-11.461-3.988c-78.926 4.274-140.752 63.672-140.752 135.224v107.153C33.537 499.294 46.9 512 63.332 512h385.336c16.429 0 29.8-12.706 29.8-28.324V376.523c-.005-71.552-61.831-130.95-140.757-135.223zM446.463 480H65.537V376.523c0-52.74 45.359-96.889 104.35-102.8 23.862 18.908 54.167 29.247 86.113 29.247s62.251-10.339 86.113-29.245c58.991 5.909 104.35 50.058 104.35 102.8zM256 234.375a117.188 117.188 0 1 0-117.188-117.187A117.321 117.321 0 0 0 256 234.375zM256 32a85.188 85.188 0 1 1-85.188 85.188A85.284 85.284 0 0 1 256 32z" fill="#000000" opacity="1" data-original="#000000"></path></g></svg>
            </i>
            <div class="functions-info">
              <b>Minha Conta</b>
              <span>Olá, <span data-username>Visitante</span></span>
            </div>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <i class="svg-ico">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><defs><clipPath id="a" clipPathUnits="userSpaceOnUse"><path d="M0 512h512V0H0Z" fill="#000000" opacity="1" data-original="#000000"></path></clipPath></defs><g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)"><path d="M0 0v-230.516h289.897V113.85" style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(75.395 245.516)" fill="none" stroke="#000000" stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0c0 28.085-22.768 50.854-50.853 50.854a51.48 51.48 0 0 1-4.268-.193C-68.397 75.58-94.63 92.55-124.836 92.55a78.552 78.552 0 0 1-42.855-12.658c-14.941 15.468-35.884 25.102-59.088 25.102-35.619 0-65.935-22.67-77.331-54.364-25.889-2.365-46.17-24.125-46.17-50.63 0-18.29 9.661-34.319 24.153-43.279v-66.982c0-20.009 16.221-36.229 36.23-36.229 20.009 0 36.23 16.22 36.23 36.229v40.134c25.605.037 47.595 15.445 57.27 37.486H0z" style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(365.292 392.006)" fill="none" stroke="#000000" stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h289.897" style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(75.395 75.048)" fill="none" stroke="#000000" stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h5.846c36.31 0 65.85 29.54 65.85 65.85v32.622c0 19.725-16.048 35.773-35.774 35.773H0" style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(365.292 135.072)" fill="none" stroke="#000000" stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path><path d="M0 0h35.922c52.81 0 95.774-42.964 95.774-95.773v-32.623c0-69.393-56.456-125.849-125.85-125.849H0" style="stroke-width:30;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(365.292 329.317)" fill="none" stroke="#000000" stroke-width="30" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000"></path></g></g></svg>
            </i>
            <div class="functions-info">
              <b>Meu Carrinho</b>
              <span><span id="cart-count"></span> itens</span>
            </div>
          </a>
        </div>

        <div id="login-modal">
          <!--
            `LoginModal` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
          -->
        </div>
        <div id="cart-quickview">
          <!--
            `CartQuickview` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
          -->
        </div>
      </div>

      <% if (header.search_input) {
        const searchColSize = !isCategoriesNavFull && categories.length ? '-3' : ''
        %>
        <div
          class="d-block col-12 col-lg<%= searchColSize %> collapse show"
          id="search-bar"
        >
          <form
            class="header__search mt-2 mt-md-3 mt-lg-0"
            id="search-form"
            action="/search"
            method="get"
          >
            <input
              type="search"
              name="term"
              placeholder="Digite o que você procura..."
              aria-label="<%= _.dictionary('searchProducts') %>"
              class="header__search-input form-control"
              id="search-input"
            >
            <button
              type="submit"
              class="header__search-btn"
              aria-label="<%= _.dictionary('searchProducts') %>"
            >
              Buscar
            </button>
            <div id="instant-search">
              <!--
                `InstantSearch` should be open on input focus:
                https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
              -->
            </div>
          </form>

          <% if (_.settings.domain) { %>
            <script type="application/ld+json"><%-
              JSON.stringify({
                '@context': 'http://schema.org',
                '@type': 'WebSite',
                url: `https://${_.settings.domain}/`,
                potentialAction: {
                  '@type': 'SearchAction',
                  target: `https://${_.settings.domain}/search?term={search_term_string}`,
                  'query-input': 'required name=search_term_string'
                }
              })
            %></script>
          <% } %>
        </div>
      <% } %>

      <% if (themeCustom === 'ecom-beauty' && isCategoriesNavFull) { %>
        <% if (header.contacts_stripe.pages) { %>
          <div class="header__page-links d-none d-lg-inline-block">
            <% header.contacts_stripe.pages.forEach(({ link, title })=> { %>
              <a href="<%= link %>">
                <%= title %>
              </a>
            <% }) %>
          </div>
        <% } %>
      <% } %>

      
    </div>
  </div>
  <div class="bg-navbar">
    <div class="container">
      <div class="row">
        <% if (categories && categories.length) { %>
          <div class="d-none d-lg-block <%= isCategoriesNavFull ? 'col-12 order-lg-last' : 'col' %> header__nav-block">
            <nav class="header__nav<%= isCategoriesNavFull ? ' header__nav--full' : '' %>">
              <ul class="level_1">
              <% if(apx_header.links) { 
                apx_header.links.forEach(({ url, path, title, list })=> {
                  subcategories = _.categories.filter(el => el.parent && el.parent.name == title)
                %>
                <li class="header__category <%= list ? 'dropdown' : ''%>">
              
                  <a href="<%= path ? path : url %>">
                    <strong><%= title %></strong>
                  </a>
                  <% if (list || subcategories.length > 0) { %>
                    <button type="button" class="d-md-none" onclick="$(this).closest('li').toggleClass('open')">                    
                        <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.353553" y1="0.646447" x2="3.35355" y2="3.64645" stroke="black"/>
                        <line y1="-0.5" x2="4.24264" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 6 1)" stroke="black"/>
                        </svg>  
                    </button>
                  <% } %>
                  
                  <% if (list.length > 0) { 
                    %>
                    <div class="level_2">                          
                        <ul class="">
                          <% list.forEach(({ item })=> { 
                            %>
                            <li class="">
                              <a href="<%= item.path ? item.path : item.url %>">
                                <%= item.title %>
                                <% let main = item.path ? item.path : item.url %>
                              </a>
                              <% if (item.list) { %>
                                <ul>
                                <% item.list.forEach(({ item })=> { %>
                                  <li>
                                    
                                    <a href="<%= item.path ?  item.path : ( item.url.startsWith('?') ? main + item.url : item.url )%>">
                                      <%= item.title %> 
                                    </a>
                                  </li>
                                <% }) %>
                                </ul>
                              <% } %>                               
                            </li>
                          <% }) %>
                        </ul>
                    </div>
                  <% } else { %>
                    <% if (subcategories.length > 0) {%>
                      <div class="level_2 ">
                        <ul class="">
                          <% subcategories.forEach(({ name, slug, path })=> { 
                            %>
                            <li class="">                          
                              <a href="<%= path ? path : slug %>">
                                <%= name %>
                              </a>
                            </li>
                          <% }) %>
                        </ul>
                      </div>
                    <% } %>
                  <% } %>
                </li>
              <% }) } %>
              <!--
              <% categories.forEach(({ slug, name, _id}) => { %>
                <% let $categoryLink %>
                <div class="d-inline-block">
                  <a
                    href="javascript:;"
                    class="header__category"
                    id="cd-<%= _id %>"
                    <%- hasMegamenu
                      ? `onmouseover="toggleSubmenu('${slug}', this)" onclick="toggleSubmenu('${slug}', this, true)"`
                      : `onclick="toggleSidenav('${slug}')"` %>
                  >
                  <strong><%= name %></strong>
                  </a>
                  <%- $categoryLink %>
                  <%  if (slug && hasMegamenu) { %>
                    <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                    <% if (subcategories.length) { %>
                      <%
                        if (isAlphabeticalOrderSubmenu) {
                          subcategories.sort((a, b)=> {
                            return b.name > a.name ? -1 : 1
                          })
                        }
                      %>
                      <nav class="header__submenu<%= fullWidthSubmenu ? ' header__submenu--full' : '' %>" id="<%= `s-${slug.replace(/\//g, '_')}` %>">
                        <% subcategories.forEach(subcategory => { %>
                          <div>               
                            <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>"><%= subcategory.name %></a>
                            <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>
                            <%
                              if (isAlphabeticalOrderSubmenu) {
                                thirdCategories.sort((a, b)=> {
                                  return b.name > a.name ? -1 : 1
                                })
                              }
                            %>
                            <% thirdCategories.forEach(thirdCategory => { %>
                              <a id="td-<%= thirdCategory._id %>" class="header__submenu-subcategory" href="/<%= thirdCategory.slug %>">
                                <%= thirdCategory.name %>
                              </a>
                            <% }) %>
                          </div>
                        <% }) %>
                      </nav>
                    <% } %>
                  <% } %>
                </div>
              <% }) %>
              -->  
            </ul>
            </nav>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</header>
<% if (header.popup) { %>
  <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" id="close-modal-popup" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px; top: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="<%- header.popup %>" style="max-width: 100%">
      </div>
    </div>
  </div>
<% } %> 
